* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: "DM Serif Display", serif;
  background: #eff0f3;
}
.main {
}

.main_left,
.main_right {
  border-radius: 8px;
  background: #fff;
}
.main {
  display: flex;
  padding: 20px;
}

.main_right {
  margin-left: 40px;
}

.main_left-img,
.main_right-img {
  padding: 100px;
  border-radius: 8px 8px 0 0;
  background-size: cover;
}

.main_left-img {
  background-image: url(./img/Hotel-Photo-left.svg);
}

.main_right-img {
  background-image: url(./img/Hotel-Photo-right.svg);
}

.information {
  margin: 40px 24px 24px 24px;
}

.title-icons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 12px;
}

.title {
  line-height: 25px;
  font-size: 24px;
  margin: 0;
  color: #081f32;
}

.icons {
  font-size: 0;
}

.icons_item {
  width: 24px;
  margin-left: 8px;
}

/*rating*/

.rating {
  display: flex;
  align-items: center;
}

.rating-stars {
  display: flex;
  margin-left: 16px;
}

.rating-stars img {
  margin-right: 8px;
}

.rating-top {
  padding: 0 14px;
  border-radius: 4px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 10px;
  line-height: 25px;
  letter-spacing: 0.2em;
  color: #fff;
  background-color: #007ae9;
}

.date-rooms-price {
  display: flex;
  justify-content: space-between;
}

/*Separate block for date and number of rooms*/

.date-rooms {
  display: flex;
  align-items: flex-end;
}

.date {
  padding: 4px 12px;
  border: 1px solid #d7d8d9;
  border-radius: 4px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 10px;
  line-height: 25px;
  letter-spacing: 0.2em;
  color: #007ae9;
  margin-right: 12px;
}

.price {
  text-align: right;
}

.onsale {
  font-family: "DM Serif Display", serif;
  font-size: 48px;
  line-height: 25px;
  letter-spacing: 0.02em;
  color: #081f32;
}

.onsale-night {
  font-size: 18px;
}

.withinsale {
  font-size: 22px;
  letter-spacing: 0.02em;
  color: #b1b4b9;
  position: relative;
  margin-top: 4px;
}

.withinsale-price {
  text-decoration: line-through;
}

.withinsale-night {
  font-size: 14px;
}

.withinsale,
.withinsale-price,
.withinsale-night {
  line-height: 14px;
}

/*Description text*/

.description {
  margin-right: 41px;
  margin-top: 25px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.3vmax;
  color: #6e798c;
}

/*Discount reminder*/

.reminder {
  margin-top: 33px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1vmax;
  line-height: 25px;
  letter-spacing: 0.02em;
  color: #2ecc71;
}

/*Select rooms button*/

.button {
  margin-top: 10px;
  padding: 25px 0;
  width: 100%;
  border: none;
  border-radius: 8px;
  background: #2ecc71;
}

.button-text {
  border-radius: 4px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.3vmax;
  line-height: 25px;
  letter-spacing: 0.2em;
  color: #ffffff;
}

.button:hover {
  box-shadow: 0px -4px 40px rgba(255, 255, 255, 0.5),
    inset 0px 2px 80px rgba(255, 255, 255, 0.1),
    0px 2px 14px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
