* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  /*
    заменил главный шрифт на опен санс потому что, как правило,
    шрифт без засечек используется как основной, а с засечками как
    акцентный. Ну и тут как раз такая ситуация.
    DM Serif Display в 2 местах, все остальное open Sans
  */
  font-family: "DM Serif Display", serif;
  background: #eff0f3;
}

.main_left,
.main_right {
  /*
    если мы скроем все, что выходит за рамки карточки,
    то и углы одинаковыми станут
  */
  overflow: hidden;
  border-radius: 8px;
  background: #fff;
}
.main {
  display: flex;
  align-items: flex-start;
  padding: 20px;
}

.main_right {
  margin-left: 40px;
}

.main_left-img,
.main_right-img {
  padding: 100px;
  border-radius: 8px 8px 0 0;
  background-size: cover;
}

.main_left-img {
  background-image: url(./img/Hotel-Photo-left.svg);
}

.main_right-img {
  background-image: url(./img/Hotel-Photo-right.svg);
}

.information {
  margin: 40px 24px 24px 24px;
}

.title-icons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 12px;
}

.title {
  line-height: 25px;
  font-size: 24px;
  margin: 0;
  color: #081f32;
}

.icons {
  font-size: 0;
}

.icons_item {
  width: 24px;
  margin-left: 8px;
}

/*rating*/

.rating {
  display: flex;
  align-items: center;
}

.rating-stars {
  display: flex;
  margin-left: 16px;
}

.rating-stars img {
  margin-right: 8px;
}

.rating-top {
  padding: 0 14px;
  border-radius: 4px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 10px;
  line-height: 25px;
  letter-spacing: 0.2em;
  color: #fff;
  background-color: #007ae9;
}

.date-rooms-price {
  display: flex;
  justify-content: space-between;
}

/*Separate block for date and number of rooms*/

.date-rooms {
  display: flex;
  align-items: flex-end;
}

.date {
  padding: 4px 12px;
  border: 1px solid #d7d8d9;
  border-radius: 4px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 10px;
  line-height: 25px;
  letter-spacing: 0.2em;
  color: #007ae9;
  margin-right: 12px;
}

.price {
  text-align: right;
}

.onsale {
  font-family: "DM Serif Display", serif;
  font-size: 48px;
  line-height: 25px;
  letter-spacing: 0.02em;
  color: #081f32;
}

.onsale-night {
  font-size: 18px;
}

.withinsale {
  font-size: 22px;
  letter-spacing: 0.02em;
  color: #b1b4b9;
  position: relative;
  margin-top: 4px;
}

.withinsale-price {
  text-decoration: line-through;
}

.withinsale-night {
  font-size: 14px;
}

.withinsale,
.withinsale-price,
.withinsale-night {
  line-height: 14px;
}

.date-rooms-price {
  margin-bottom: 24px;
}

.description {
  /*
  Такой финт с шириной для того, что-бы текст не был слишком
  широким и удобным для чтения. max-width для того случая,
  когда карточка становится уже чем 448px что бы текст
  не вылазил за границы.
  */
  width: 448px;
  max-width: 100%;

  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #6e798c;
  margin-top: 33px;
}

.reminder {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.02em;
  color: #2ecc71;
  margin-bottom: 10px;
}

.button {
  padding: 28px 0;
  width: 100%;
  border: none;
  border-radius: 8px;
  background: #2ecc71;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  letter-spacing: 0.2em;
  line-height: 25px;
  color: #ffffff;
  font-size: 17px;
  transition: background-color 0.1s;
  /*
    курсор переставить в pointer лучше просто у кнопки.
    Чем меньше свойств меняется - тем браузеру легче это отрисовать
    Нормально поставить pointer на ховер, но он и так действует
    на курсор только когда мышка находится на элементе.
    Так что можно менять курсор просто у элемента
  */
  cursor: pointer;
}

.button:hover {
  /*
   Убрал бокс-шэдоу потому что когда попап на попапе мне не нравится :)
  */
  background: #22a157;
}
